{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class="upper-bar-title" href="{% url 'list' %}">Main page</a>
<a class="upper-bar-title" href="{% url 'edit' recipe_object.id %}">Edit</a>
{% endblock nav %}

{% block content %}
<h1>{{ recipe_object.title }}</h1>
<img src="{{ recipe_object.picture }}">
<div>4.3 stars</div>
<p>{{ recipe_object.description }}</p>
<h2>Ingredients</h2>
<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Food item</th>
        </tr>
    </thead>
    <tbody class="rows-in-ingredients">
        {% for ingredient in recipe_object.ingredients.all %}
        <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.food_item }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Steps</h2>
<ol>
    {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
    {% endfor %}
</ol>
{% endblock content %}
