{% extends 'base.html' %}

{% block title %}
{{ edited_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class="upper-bar-title" href="{% url 'list' %}">Main page</a>
{% endblock nav %}

{% block content %}
<h1>Edit {{ edited_object.title }} </h1>
<form method="post">
    {% csrf_token %} <!-- for security so that people don't hack the website! -->
    {{ form.as_p }} <!-- adds the form that was created in form.py-->
    <button>Save</button> <!-- add a click button creat e-->
</form>
{% endblock content %}
