{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class="upper-bar-title" href="{% url 'list' %}">Main page</a>

{% if user.is_authenticated %}
<a class="upper-bar-title" href="{% url 'my_list' %}">My recipes</a>
<a class="upper-bar-title" href="{% url 'create' %}">Add a recipe</a>
<a class="upper-bar-title">Hello, {{ user.username }}</a>
<a class="upper-bar-title" href="{% url 'user_logout' %}">Logout</a>
{% else %}
<a class="upper-bar-title" href="{% url 'signup' %}">Sign Up</a>
<a class="upper-bar-title" href="{% url 'user_login' %}">Login</a>
{% endif %}

{% endblock nav %}

{% block content %}
<h1>Scrumptious Recipes</h1>
<h2>All the food that's fit to eat</h2>
<div class="list-of-meals">
  {% for recipe in recipe_list %}
  <div>
    <h3><a class="meal-title" href="{% url 'detail' recipe.id %}">{{ recipe.title}}</a></h3>
    <img alt={{ recipe.description }} src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}">
    <div>4.3 stars</div>
    <p>{{ recipe.created_on|date:"j F, Y" }}</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}
