{% load static %}
<!doctype html>
<html>

<head>
  <!-- if I want to put a different font, I could put it here without using CSS if I wanted to -->
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<body>
  <header>
    <nav id="upper-bar" class="navbar">{% block nav %}{% endblock nav %}</nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
<footer id="bottom-bar">
  Made with love by Scrumtious Recipes
</footer>

</html>
